<ion-header>
    <ion-toolbar color="dark">
        <ion-title>
            Pending Tasks
        </ion-title>
        <!-- <ion-button slot="end" (click)='addTask()' color="success" class="md button button-clear">
            <ion-icon size="large" name="add-circle-outline"></ion-icon>
        </ion-button> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="loaded">
        <ion-reorder-group disabled="true">
            <div *ngFor="let task of tasks; let i= index;">
                <ion-item lines="full" [ngClass]="{ 'pending' : task.status === 'pending','finished' : task.status === 'finished' }">
                    <ion-label slot="start">
                        {{i+1}}. {{task.name}}
                    </ion-label>
                    <ion-label class="date">
                        {{task.date}}
                    </ion-label>
                </ion-item>
            </div>
        </ion-reorder-group>
    </ion-list>
</ion-content>