<ion-header>
  <ion-toolbar color="dark">
      <ion-title>
          Nishu Vini
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="../../assets/nishu.png" />
    </ion-avatar>
    <ion-label class="headings">
      HER BIRTHDAY
    </ion-label>
    <ion-label slot="end" class="headings">
      7th JUN, 1998
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="../../assets/vini.png" />
    </ion-avatar>
    <ion-label class="headings">
      HIS BIRTHDAY
    </ion-label>
    <ion-label slot="end" class="headings">
      5th SEP, 1996 </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img style="vertical-align: top;" alt="Silhouette of a person's head" src="../../assets/firstmeet.png" />
    </ion-avatar>
    <ion-label class="headings">
      FIRST MEET
    </ion-label>
    <ion-label slot="end" class="headings">
      3rd AUG, 2022 </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img style="vertical-align: top;" alt="Silhouette of a person's head" src="../../assets/match.png" />
    </ion-avatar>
    <ion-label class="headings">
      MATCH FIXED
    </ion-label>
    <ion-label slot="end" class="headings">
      14th AUG, 2022 </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img style="vertical-align: top;" alt="Silhouette of a person's head" src="../../assets/firstdate.png" />
    </ion-avatar>
    <ion-label class="headings">
      FIRST DATE
    </ion-label>
    <ion-label slot="end" class="headings">
      21st AUG, 2022 </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img style="vertical-align: top;" alt="Silhouette of a person's head" src="../../assets/letter.png" />
    </ion-avatar>
    <ion-label class="headings">
      1st ❤️ LETTER
    </ion-label>
    <ion-label slot="end" class="headings">
      5th SEP, 2022 </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img style="vertical-align: top;" alt="Silhouette of a person's head" src="../../assets/hitched.png" />
    </ion-avatar>
    <ion-label class="headings">
      GOT HITCHED
    </ion-label>
    <ion-label slot="end" class="headings">
      9th OCT, 2022 </ion-label>
  </ion-item>
</ion-content>